# TSC FLEX: SS/SD with SD (FM) cylinder 0, 35 tracks.
disk flex.sssd.35
  cyls = 35              # Number of tracks
  heads = 1              # Single Sided
  tracks 0.0 ibm.fm      # First Track SD
    bps = 256            # Each sector has 256 byte
    iam = no
    gap3 = 16
    gap4a = 16
    secs = 10            # 10 sectors
    interleave = 4       # Interleave 4
    id = 1               # Start with sector ID 1
    h = 0                # Head 0
  end
  tracks 1-34.0 ibm.fm   # Track 1-34
    bps = 256
    iam = no
    gap3 = 16
    gap4a = 16
    secs = 10            # 10 sectors
    interleave = 6       # Interleave 6
    id = 1               # Start with sector ID 1
    h = 0                # Huvud 0
  end
end
# TSC FLEX: SS/SD with SD (FM) cylinder 0, 40 tracks.
disk flex.sssd.40
  cyls = 35              # Number of tracks
  heads = 1              # Single Sided
  tracks 0.0 ibm.fm      # First Track SD
    bps = 256            # Each sector has 256 byte
    iam = no
    gap3 = 16
    gap4a = 16
    secs = 10            # 10 sectors
    interleave = 4       # Interleave 4
    id = 1               # Start with sector ID 1
    h = 0                # Head 0
  end
  tracks 1-39.0 ibm.fm   # Track 1-39
    bps = 256
    iam = no
    gap3 = 16
    gap4a = 16
    secs = 10            # 10 sectors
    interleave = 6       # Interleave 6
    id = 1               # Start with sector ID 1
    h = 0                # Head 0
  end
end
# TSC FLEX: DS/SD with SD (FM) cylinder 0, 40 tracks Double Sided.
disk flex.dssd.40
  cyls = 40              # Number of tracks
  heads = 2              # Double Sided
  tracks 0.0 ibm.fm      # First track SD
    bps = 256            # Each sector has 256 byte
    iam = no
    gap3 = 16
    gap4a = 16
    secs = 10            # 10 sectors
    interleave = 4
    id = 1
  end
  tracks 0.1 ibm.fm
    bps = 256            # Number of tracks
    iam = no
    gap3 = 16
    gap4a = 16
    secs = 10            # 10 sectors (11-20)
    interleave = 4
    h = 0                # Needs to be 0 to read second side
    id = 11              # Start with sector 11
  end
  tracks 1-39.0 ibm.fm   # Number of tracks
    bps = 256
    iam = no
    gap3 = 16
    gap4a = 16
    secs = 10
    interleave = 6       # Interleave 6
    id = 1               # Start with sector 1
    h = 0                # Head 0
  end
  tracks 1-39.1 ibm.fm   # Number of tracks
    bps = 256
    iam = no
    gap3 = 16
    gap4a = 16
    secs = 10
    interleave = 6       # Interleave 6
    h = 0                # Needs to be 0 to read second side
    id = 11              # Start with sector 11
  end
end
